// Place all the styles related to the Offer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.offer-title{
	
	color: black;
	margin-left: 15px;

}

.offer-title-container{
	
	width:70%;
	float: left;
	margin:0px;

}

.offer-btn-container{

	width:30%;
	float: left;
	margin:0px;

}