h1 Hello, search a user!
form(action='/', method='POST')
	input(type="text", name="user", placeholder="Username", required)
	span &nbsp;
	button(class='inset blue')
		span(class="icon medium grey", data-icon="<")
		span Search