doctype 5
html(lang="es")
  block head
    title Yunaitfaction
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    script(type="text/javascript", src="../js/prettify.js")
    script(type="text/javascript", src="../js/kickstart.js")
    link(rel="stylesheet", type="text/css", href="../css/kickstart.css", media="all")
    link(rel="stylesheet", type="text/css", href="../style.css", media="all")
  body
    div.clearfix#wrap(class="center")
      div(style="padding: 10px;")
        img(src="../logo.png")
        #container!=body
      div#nav
      div#footer
        a(href="http://nodejs.org")
          img(src="http://udiweb.com.mx/wp-content/uploads/2012/01/nodejs.png", style="border-radius: 15px; width: 200px;")
        h4 Created by: Alejandro Rodríguez Salamanca, Saúl Diaz Gonzalez,  Alejandro Perezpayá.
        h4 Utilizamos la API en Rest de 
          a(href="http://yunait.com") Yunait